<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GG Stats</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
</head>
<body class="bg-white text-gray-900 dark:bg-darkBg dark:text-darkText transition-colors duration-300">

{{> layout/navbar}}
