<header class="bg-primary text-white py-4 dark:bg-gray-700">
    <div class="container mx-auto flex items-center">
        <a href="/" class="text-2xl font-bold mr-4"><span class="material-icons">home</span></a>
        <a href="/lol" class="text-2xl font-bold mr-4">GG LoL</a>

        <nav class="flex space-x-4">
            <a href="/lol/tiers" class="hover:text-yellow-300 dark:hover:text-mutedText">챔피언 티어</a>
            <a href="/lol/ranking" class="hover:text-yellow-300 dark:hover:text-mutedText">랭킹</a>
            <a href="/lol/statics" class="hover:text-yellow-300 dark:hover:text-mutedText">통계</a>
        </nav>

        <button id="theme-toggle" class="ml-auto text-white hover:text-yellow-300 dark:text-darkText">
            <span id="theme-toggle-light-icon" class="material-icons">light_mode</span>
            <span id="theme-toggle-dark-icon" class="hidden material-icons">dark_mode</span>
        </button>
    </div>
</header>
